<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pose Matching</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Pose Matching</h1>
    <div class="form-container">
        <form action="{{ url_for('upload_files') }}" method="post" enctype="multipart/form-data">
            <label for="file1">Upload Image 1:</label>
            <input type="file" name="file1" id="file1" required>
            <label for="file2">Upload Image 2:</label>
            <input type="file" name="file2" id="file2" required>
            <button type="submit">Upload and Compare</button>
        </form>
        <form action="{{ url_for('reset') }}" method="post" class="reset-form">
            <button type="submit">Reset Images</button>
        </form>
    </div>
    {% if similarity %}
        <h2>Similarity: {{ similarity }}</h2>
        <div class="image-container">
            <div class="image-item">
                <img src="{{ img1_path }}" alt="Image 1">
                <p>Image 1</p>
            </div>
            <div class="image-item">
                <img src="{{ img2_path }}" alt="Image 2">
                <p>Image 2</p>
            </div>
        </div>
    {% endif %}
    <a href="{{ url_for('home') }}" class="button back-to-home">Back to Home</a>
</body>
</html>
